
.content-title {
    text-align: center;
    margin-top: 70px;
}
.text-container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 18px;
    white-space:initial;
    color: rgba(0, 0, 0, 1);
}


.cards-container {
    background-image: url('../../../images/content-img/paper-bg.png');
    margin-top: 100px;
    height: 550px;
}

.cards-container h1 {
    text-align: center;
    padding-top: 100px;
}
.active {
    border: 1px solid black;
}

.cards-block {
    display: flex;
    justify-content: center;
}
