.nav-container {
    display: flex;
    margin-left: 5%;
}
ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}
li {
    margin: 0px 20px 0px 20px;
}
li:first-child {
    margin-left: 0px;
    padding-left: 0px;
}
 .bean {
    object-fit: fill;
    margin: 0;
} 
.link-style {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.link-style:hover {
    color: rgb(7, 220, 220);
}